.message-heading {
    color: darkgreen;
  }
  
  .clear {
    background-color: orange;
    color:blue;
   
  }
  
  .clear:hover {
    background-color:pink;  
  }
  
  
  .message {
    background-color:black;
   
  }
  