<input type="text" [(ngModel)]="searchTitle" placeholder="Enter title">
<button (click)="checkContentExists()">Check Car </button>

<p [ngStyle]="{'color': contentExists ? 'green' : 'red'}">{{ message }}</p>

<div>
<h1>Empty</h1>
<app-content-card *ngFor="let contentItem of contentItems | typegiver: ''" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Sedan</h1>
<app-content-card *ngFor="let contentItem of contentItems | typegiver: 'Sedan'" [contentItem]="contentItem"></app-content-card>
</div>
<div>
<h1>Sports</h1>
<app-content-card *ngFor="let contentItem of contentItems | typegiver: 'Sports'" [contentItem]="contentItem"></app-content-card>
</div>